body {
  margin: 0; 
  padding: 0; 
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

footer {
  background-color: pink; 
  color: purple; 
  text-align: center; 
  padding: 2.0rem 0; 
  margin: 0; 
  width: 100%; 
  box-shadow: 0 -2px 5px black; 
  box-sizing: border-box; 
}

.content-wrapper {
  display: flex;
  flex: 1;
}

/*adjusting margins b/c dual navigation bar created to show dropdown and hamburger menu and screens must adjust */

.main-content {
  flex: 1;
  margin-left: 300px; 
  margin-top: 50px; 
  width: 100%;
}

@media (max-width: 600px) { 
  .main-content {
    margin-left: 0px; 
    margin-top: 125px; 
    padding: 0.5rem; 
    
  } 
}

